<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" > <!-- manifest="/cache.appcache" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>inflickr | uri is a tag</title>
  	<link rel="stylesheet" type="text/css" href="lib/style.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="lib/jquery-1.6.1.min.js"></script> 
	<script type="text/javascript" src="lib/jquery.lazyloader.min.js"></script>
	<script type="text/javascript" src="lib/jquery.scrollTo.js"></script>
	<link  href="http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope:regular" rel="stylesheet" type="text/css" >
	<style>
body {
  font-family: 'Annie Use Your Telescope', serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 6px 6px 6px #ccc;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: -0.05em;
  word-spacing: -0.2em;
  line-height: 1.2;
}
	</style>
	<script type="text/javascript" > 
var autoScroll = false;
var counter = 0;
var page = 1;
$(document).ready(function() {
    $('pre.loadme').lazyLoad();
    $('pre.morestuff').lazyLoad();
});
function loadNext(tags) {
    var vurl = "/ajax";
    if (tags) {
        vurl = "/ajax?method=photos&tags=" + tags + "&page=" + (page++);
    }
    else {
        vurl = "/ajax?method=photos&plon=" + lon + "&plat=" + lat + "&page=" + (page++);
    }
    $.ajax({
        url: vurl,
        context: document.body,
        error: function(data) {
            console.log("error: " + data);
        },
        success: function(data) {
            $('.zone').append(data);
            $('pre.loadme').lazyLoad();
            document.getElementById("loader").innerHTML = ' ';
        }
    });
}
var lat = 0;
var lon = 0;
function getPosition(position) {
    var infoposition = " (" + position.coords.latitude + ", ";
    infoposition += position.coords.longitude + ")";
    document.getElementById("myposition").innerHTML = infoposition;
    lat = position.coords.latitude;
    lon = position.coords.longitude;
    page = 2;
    $.ajax({
        url: "/ajax?method=photos&plon=" + lon + "&plat=" + lat + "&page=1",
        context: document.body,
        error: function(data) {
            console.log("error : " + data);
        },
        success: function(data) {
            $('.zone').append(data);
            $('pre.loadme').lazyLoad();
            document.getElementById("loader").innerHTML = ' ';
        }
    });
}
function myPosition() {
    navigator.geolocation.getCurrentPosition(getPosition);
}
	</script> 
</head>
<body class="header">
<center>